<% if current_member %>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>

      <li>
        <%= button_to "Logout" , destroy_member_session_path, method: :delete, class:"dropdown-item"%>
      </li>
    </ul>
  </li>
  <%else%>
    <li class="nav-item">
      <%= link_to "Sign Up" , new_member_registration_path%>
    </li>
    <li class="nav-item">
      <%= link_to "Log In" , new_member_session_path%>
    </li>
  <%end%>